version: '2'

services:
    web:
        image: nginx:latest
        ports:
            - "8080:80"
            - "443:443"
        volumes:
            - /opt/www:/www
            - /opt/cert:/cert
            - ./sites.conf:/etc/nginx/conf.d/default.conf
        networks:
            - www-network
    php:
        image: php:fpm
        volumes:
            - /opt/www:/www
        networks:
            - www-network

networks:
    www-network:
        driver: bridge
