version: '2'

services:
    web:
        image: nginx:latest
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./www:/www
            - ./site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - www-network
    php:
        image: php:fpm
        volumes:
            - ./www:/www
        networks:
            - www-network

networks:
    www-network:
        driver: bridge
